.sticker {
    padding: 3px 6px;
    margin-right: 4px;
    color: white;
    background: rgba(64, 43, 72, 0.73);
    font-size: 10px;
    border-radius: 7px;
}

.sticker:last-child {
    margin: 0;
}

.answer {
    margin: 8px 0 0 15px;
}